@import "reset";
@import "subpage_wrapper";
@import "menu_small";
@import "menu_large";
@import "content_how";
@import "form";
.menu_small {
  .navigation {
    height: 85vh;
  }
}

.wrapper {
  min-height: 150vh;
}
.content {
  grid-area: content;
  // height: 5vh;
  // background-color: #666;
  position: relative;
  top: 20vh;
  width: 100%;
  margin: 0 auto;
  // z-index: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "content__title "
    "content__subtitle "
    "content__image "
    "content__article"
    "form"
    "content__footer";
  @media (min-width: 1024px) {
    top: 20vh;

    // width: 830px;
  }
}
